* {
  margin: 0;
  padding: 0;
}
/* ul {
  list-style-type: none;
} */
.profileCard {
  border: 1px solid black;
  text-align: center;
  min-width: min-content;
  width: 450px;
  margin: 0 auto;
  margin-top: 30px;
}
.profileImage {
  background-color: rgba(0, 0, 0, 0.897);
  border-radius: 50%;
  width: 200px;
}
.profileText {
  font-size: 40px;
  padding-bottom: 20px;
}
.profileText:nth-child(3),
.profileText:nth-child(4) {
  color: rgba(0, 0, 0, 0.39);
}
.profileList {
  display: flex;
  justify-content: center;
  font-size: 30px;
  min-width: 100px;
}
.profileListItem {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.362);
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 150px;
}
